<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>FlyingFood</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= stylesheet_link_tag    "bootstrap"%>
  	<%= javascript_include_tag "bootstrap" %>
  	<%= csrf_meta_tags %>
  	
</head>
<body>
<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%=link_to "Flying Food", root_path,:class=>"navbar-brand" %>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span> Manu <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#">All</a></li>
                    <li><a href="#">Breakfast</a></li>
                    <li><a href="#">Lunch</a></li>
                    <li><a href="#">Dinner</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Others:</li>
                    <li><a href="#">Snacks</a></li>
                    <li><a href="#">Drinks</a></li>
                    <li class="divider"></li>
                    <li><a href="#">My favorites</a></li>
                    <li><a href="#">Top Manu</a></li>
                    <li><a href="#">Featured Manu</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cutlery"></span> Restaurants <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#">All</a></li>
                    <li><a href="#">My favorites</a></li>
                    <li><a href="#">Nearest to my place</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Others:</li>
                    <li><a href="#">Recommended Restaurants</a></li>
                  </ul>
                </li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-ok-sign"></span> Service <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#">Coverage Area</a></li>
                    <li><a href="#">Delivery Rate</a></li>
                  </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> My Order</a></li>
              </ul>
              <ul class="nav navbar-right">
              	<form style="margin-right: 10px;" class="nav navbar-form" role="form">
  					<div class="form-group">
    					<label class="sr-only" for="exampleInputEmail2">Email address</label>
    					<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="exampleInputPassword2">Password</label>
    					<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  					</div>
  					<button type="submit" class="btn btn-info">SIGN IN</button>
  					<button class="btn btn-danger">SIGN UP</button>
				</form>
			 </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <%=image_tag "slide1.png" %>
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
              <p><a class="btn btn-lg btn-warning" href="./Carousel Template for Bootstrap_files/Carousel Template for Bootstrap.htm" role="button">Start Explore Today</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <%=image_tag "slide2.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-warning" href="#" role="button">Go to Manu</a></p>
            </div>
          </div>
        </div>
        <div class="item">
       	<%=image_tag "slide3.png" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-warning" href="#" role="button">More on Restaurant</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <div class="row">
  		<div class="col-md-1"></div>
  		<div class="col-md-7">
  			<ol class="breadcrumb"><%= render_breadcrumbs :separator => ' | '%></ol>
  			<%= yield :contents%>
  		</div>
  		<div class="col-md-2">
  			<%=render "side_area"%>
  		</div>
  		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
  		<div class="col-md-7">
      		<footer>
       			<p class="pull-right"><a href="#">Back to top</a></p>
       			<p>© 2014 Flying Food. · <a href="#">Privacy</a> · <a href="#">Terms</a> · <a href="#">About Company</a> · <a href="#">Contact Us</a> · <a href="#">Careers</a></p>
    		</footer>
  		</div>
	</div>
	
</body>
</html>
